@charset "UTF-8";

/**
 * 布局
 */
.body_content{
    margin: auto;
    width: $bodyWidth;
}

.m-header{
    background: #ffc;
    .logo{
        display: block;
        padding: 20px 0 25px 20px;
        color: #00cc99;
        font-weight: bold;
        font-size: 34px;
    }
}
.m-nav{
    margin-top: 5px;
    background: #6cc;
    color: $white;
    @include border-radius(5px);
    @include box-shadow(2px 2px 2px $shadow);
    .grid-content{
        text-align: center;
    }
    &-link{
        display: block;
        height: 50px;
        color: $white;
        font-size: $f-h5;
        line-height: 50px;
        &.active,
        &:hover{
            background: #f15694;
            @include border-radius(5px);
        }
    }
}