@charset "utf-8";

//  主颜色
$main: #0cc2a9;
$main-hover: #55d4c3;
//  辅助颜色
$sub: #17f9a8;
$white: #ffffff;

$red: red;

$purple: #7b5eea;
$purple-hover: #bd9bf2;
$green: #14d48f;
$green-hover: #17f9a8;
$orange: #ffa87d;
$orange-hover: #ffc2a4;
$blue: #3a80ff;
$blue-hover: #75a6ff;

$disabled: #cccccc;
//  提示颜色

//  全局边框颜色
$border-default: #dddee1;
//  全局按钮颜色


//  文本颜色
$text-disabled: #999999;
$text-normal: #666666;
$text-important: #333333;
$text-white: #ffffff;
$text-danger: #d40000;
$text-success: #0d8dff;
//  表单

// 阴影色
$shadow: rgba(0, 0, 0, 0.3);

// 内容背景色
$bg-content: #f8f8f8;
