@charset "utf-8";

//  主颜色
$main: #0cc2a9;
//  辅助颜色
$white: #ffffff;

$disabled: #cccccc;
//  提示颜色

//  全局边框颜色
$border-default: #dddee1;
//  全局按钮颜色


//  文本颜色
$text-disabled: #999999;
$text-normal: #666666;
$text-important: #333333;
$text-white: #ffffff;
$text-danger: #d40000;
$text-success: #0d8dff;
//  表单

// 阴影色
$shadow: #bdbdbd;

// 内容背景色
$bg-content: #f8f8f8;
