/* resources.scss */// 字号大小
$f-h1: 24px;
$f-h2: 22px;
$f-h3: 20px;
$f-h4: 18px;
$f-h5: 16px;
$f-h6: 14px;
$f-h7: 12px;
$f-h8: 10px;

// 全局的一些变量
$bodyWidth: 1000px;      // 内容宽度
$minWidth: 1000px;      // 窗口最小展示宽度
$minHeight: 600px;      // 窗口最小展示高度
